<component name="ArtifactManager">
  <artifact type="war" name="SpringMVC_Shiro:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="IShareServer-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVC_Shiro:war exploded" />
    </root>
  </artifact>
</component>